.main {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  max-width: 50em;
  margin-top: 10em;
  padding: 0 2em;
}

.title-header {
  color: #555;
  font-size: 2em;
  font-weight: semibold;
}

.title-info {
  font-size: 1.5em;
  font-weight: 500;
}

.content {
  color: #555;
}

.content ul,
.content li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  display: block;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: none;
}

.icon-react {
  background-image: url('./img/react.svg');
  height: 36px;
}
.icon-redux {
  background-image: url('./img/redux.svg');
  height: 34px;
  width: 36px;
}
.icon-html5 {
  background-image: url('./img/html5.svg');
  width: 29px;
}
.icon-css3 {
  background-image: url('./img/css3.svg');
  width: 29px;
}
.icon-angular {
  background-image: url('./img/angular.svg');
  width: 38px;
}

footer {
  text-align: center;
}