.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-list li {
  list-style: none;
}
